@media screen and (max-width: 1330px) {
    #cpc__youtube__videos .all__videos {
        flex-direction: column;
    }

    #cpc__youtube__videos .all__videos .small__videos {
        justify-content: center;
    }

    #team__members .pagination .previus,
    #team__members .pagination .next {
        font-size: 0.8em;
    }

    #team__members .pagination li i {
        font-size: 0.8em;
    }

    #team__members .pagination .present {
        font-size: 1em;
    }

    /* Meet The Team Section Start */

    #meet__the__team .select {
        font-size: 0.75em;
    }

    .find__member {
        font-size: 0.7rem;
    }

    /* Meet The Team Section End */
}

@media screen and (max-width: 1150px) {
    /* Meet The Team Section Start */

    #meet__the__team .select {
        font-size: 0.7em;
    }

    .find__member {
        font-size: 0.6rem;
    }

    /* Meet The Team Section End */
}

@media screen and (max-width: 1180px) {
    nav .menu li:not(:first-child) a {
        margin-left: 1em;
    }

    .social__links ul li:not(:first-child) a {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1000px) {

    nav .social__links {
        display: none;
    }

    nav .menu li:last-child .social__links {
        display: block;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

    nav .menu li:last-child .social__links ul {
        width: 100%;
        justify-content: center;
    }

    nav .menu li:last-child .social__links span {
        display: block;
        font-size: 18px;
        text-align: center;
        color: #fff;
        margin: 0;
    }

    nav .menu {
        position: fixed;
        top: 0;
        right: -200%;
        height: 100%;
        width: 300px;
        background: linear-gradient(225deg, rgba(255, 0, 0, 0.8) 20%, rgba(255, 215, 0, 0.8));
        flex-direction: column;
        padding-top: 30px;
    }

    nav .menu li a {
        font-size: 20px;
        color: #fff;
        width: 100%;
        margin: 0 !important;
        text-align: left;
        padding-left: 20px;
    }

    nav .menu li .active {
        border: 0;
        color: black;
    }

    .nav__menu__icon,
    .nav__menu__close__icon {
        display: block;
    }

    .nav__menu__close__icon {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #contact .row {
        justify-content: center;
    }

    #contact .row .col:not(:first-child) {
        margin-left: 0;
    }

    #cpc__youtube__videos .all__videos {
        width: 100%;
    }

    #cpc__youtube__videos .all__videos .big__video {
        height: auto;
    }

    /* Wings Page Start */

    #our__wings h1 {
        font-size: 3em;
    }

    #our__wings p {
        font-size: 1em;
    }

    #our__wings h2 {
        font-size: 1.5em;
    }

    /* Wings Page End */

    /* Meet The Team Section Start */

    #meet__the__team .select {
        font-size: 0.6em;
    }

    .find__member {
        font-size: 0.45rem;
    }

    .core__team__members,
    .team__members {
        font-size: 0.6rem;
    }

    .core__team__members .member__infos,
    .team__members .member__infos {
        grid-template-columns: repeat(auto-fit, minmax(90px, 120px));
    }

    /* Meet The Team Section End */
}

@media screen and (max-width: 900px) {
    .max__width {
        width: 90%;
    }

    #form {
        font-size: 0.3em;
    }

    .section__title {
        font-size: 1.5em;
    }

    #big__video {
        width: 100%;
    }

    .days,
    .hours,
    .mins {
        font-size: 0.7em;
    }

    #form .rows .row .input__field label {
        font-size: 2em;
    }

    /* Our Wings Section Start */

    #our__wings .card__bg__text h1 {
        font-size: 3em;
    }

    #our__wings .card__bg__text p {
        font-size: 1.3em;
    }

    #our__wings .card__bg__text h2 {
        font-size: 1.8em;
    }

    /* Our Wings Section End */

    /* Certificate Secton Start */

    .select {
        font-size: 0.8em;
    }

    .select__content {
        flex-direction: column;
        align-items: center;
    }

    .select__content input {
        margin-left: 0 !important;
        margin: 10px 0;
    }

    .select__button {
        font-size: 8px;
        height: 30px;
    }

    .select .selected__value,
    .select .selected__value__2 {
        align-items: center;
    }

    /* Certificate Secton End */
}

@media screen and (max-width: 700px) {
    #events__links {
        font-size: 0.3rem;
    }

    .event__details .arrow {
        font-size: 2.5em;
        margin: 0 5px;
    }

    /* Our Wings Section Start */

    #our__wings .card__bg__text h1 {
        font-size: 2.5em;
    }

    #our__wings .card__bg__text p {
        font-size: 0.8em;
    }

    #our__wings .card__bg__text h2 {
        font-size: 1.2em;
    }

    /* Our Wings Section End */

    /* Certificate Secton Start */

    .select {
        font-size: 0.6em;
    }

    /* Certificate Secton End */

    /* Blogs Section Start */

    #blogs .cards {
        font-size: 0.8rem;
    }

    /* Blogs Section End */

    /* Meet The Team Section Start */

    .core__team__members .member__infos,
    .team__members .member__infos {
        justify-content: space-evenly;
    }

    #meet__the__team .select {
        font-size: 0.45em;
    }

    .find__member {
        font-size: 0.35rem;
    }

    /* Meet The Team Section End */

}


@media screen and (max-width: 560px) {
    #cpc__youtube__videos .all__videos .small__videos {
        grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    }

    /* Wings Page Start */

    #our__wings {
        font-size: 0.5em;
    }

    #our__wings h1 {
        font-size: 2em;
    }

    #our__wings p {
        font-size: 0.8em;
    }

    #our__wings h2 {
        font-size: 1em;
    }

    #our__wings .cards .card .card__bg {
        height: 38em;
    }

    /* Wings Page End */

    /* Meet The Team Section Start */

    #meet__the__team .select {
        font-size: 0.3em;
    }

    #meet__the__team hr {
        width: 100%;
        margin-left: 0;
    }

    .find__member {
        font-size: 0.3rem;
    }

    .search__member {
        flex-direction: column;
    }

    .input__student__id {
        width: 100%;
    }

    .search__member button {
        margin-top: 5px;
    }

    /* Meet The Team Section End */
}

@media screen and (max-width: 500px) {
    nav a img {
        width: 6em;
        height: 3em;
    }

    #hero__section {
        font-size: 0.5rem;
    }

    #footer .max__width span {
        font-size: 0.75em;
        text-align: center;
    }

    #wings__section {
        font-size: 0.6rem;
    }

    nav .menu {
        width: 50%;
    }

    .section__title {
        font-size: 1em;
    }

    .form__title {
        display: none;
    }

    nav .menu {
        width: 100%;
    }

    /* Certificate Secton Start */

    .select {
        font-size: 0.45em;
    }

    /* Certificate Secton End */

    /* Blogs Section Start */

    #blogs .cards .card {
        flex-direction: column;
        align-items: center;
    }

    .pagination__for__blogs {
        font-size: 0.7rem;
    }

    #blogs .cards .card .blog__info {
        margin-left: 0;
    }

    /* Blogs Section End */
}

@media screen and (max-width: 350px) {

    #team__members .pagination .previus,
    #team__members .pagination .next {
        font-size: 0.5em;
    }

    #team__members .pagination li i {
        font-size: 0.5em;
    }

    #team__members .pagination .present {
        font-size: 0.75em;
    }

    #hero__section {
        font-size: 0.25rem;
    }

    .days,
    .hours,
    .mins {
        font-size: 0.5em;
    }

    nav .menu li:last-child .social__links {
        display: block;
        margin-top: 20px;
    }

    .section__title {
        font-size: 0.8em;
    }

    #wings__section .cards .card {
        font-size: 0.6rem;
    }

    /* Our Wings Section Start */

    #our__wings .section__title {
        font-size: 1.8em;
    }

    #our__wings .card__bg__text h1 {
        font-size: 2em;
    }

    #our__wings .card__bg__text p {
        font-size: 0.5em;
    }

    #our__wings .card__bg__text h2 {
        font-size: 0.8em;
    }

    /* Our Wings Section End */

    /* Blog Section Start */

    .pagination__for__blogs {
        font-size: 0.5rem;
    }

    /* Blog Section End */

    /* Certificate Secton Start */

    .select {
        font-size: 0.4em;
    }

    /* Certificate Secton End */
}